<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PetSome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PetSome.Properties.Settings>
            <setting name="SliderValue" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MidFont" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="HugeFont" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>620</value>
            </setting>
        </PetSome.Properties.Settings>
    </userSettings>
</configuration>